In [2]:
import pandas as pd
import time
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

In [9]:
df = pd.read_csv('my_music_database.csv').iloc[:,1:]
df = df.dropna()
df.shape

(8547, 2)

In [3]:
%run -i '1. ids.py'


client_credentials_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)


for x in range(len(df.index)):
    artist= df.iloc[x,0]
    track= df.iloc[x,1]

    track_id = sp.search(q="" + artist + " " + track + "", type='track', limit=1)
    for item in track_id['tracks']['items']:
        df.loc[x,'id'] = item['id']
    if not x % 50:
        print(x)
        time.sleep(2)
        print(x)

0
0
50
50
100
100
150
150
200
200
250
250
300
300
350
350
400
400
450
450
500
500
550
550
600
600
650
650
700
700
750
750
800
800
850
850
900
900
950
950
1000
1000
1050
1050
1100
1100
1150
1150
1200
1200
1250
1250
1300
1300
1350
1350
1400
1400
1450
1450
1500
1500
1550
1550
1600
1600
1650
1650
1700
1700
1750
1750
1800
1800
1850
1850
1900
1900
1950
1950
2000
2000
2050
2050
2100
2100
2150
2150
2200
2200
2250
2250
2300
2300
2350
2350
2400
2400
2450
2450
2500
2500
2550
2550
2600
2600
2650
2650
2700
2700
2750
2750
2800
2800
2850
2850
2900
2900
2950
2950
3000
3000
3050
3050
3100
3100
3150
3150
3200
3200
3250
3250
3300
3300
3350
3350
3400
3400
3450
3450
3500
3500
3550
3550
3600
3600
3650
3650
3700
3700
3750
3750
3800
3800
3850
3850
3900
3900
3950
3950
4000
4000
4050
4050
4100
4100
4150
4150
4200
4200
4250
4250
4300
4300
4350
4350
4400
4400
4450
4450
4500
4500
4550
4550
4600
4600
4650
4650
4700
4700
4750
4750
4800
4800
4850
4850
4900
4900
4950
4950
5000
5000
5050
5050
5100
5100
5150
5150
5200
5200
5250
5250
5300
5300
5350
5350
5400
5400
5450
5450
5500
5500
5550
5550
5600
5600
5650
5650
5700
5700
5750
5750
5800
5800
5850
5850
5900
5900
5950
5950
6000
6000
6050
6050
6100
6100
6150
6150
6200
6200
6250
6250
6300
6300
6350
6350
6400
6400
6450
6450
6500
6500
6550
6550
6600
6600
6650
6650
6700
6700
6750
6750
6800
6800
6850
6850
6900
6900
6950
6950
7000
7000
7050
7050
7100
7100
7150
7150
7200
7200
7250
7250
7300
7300
7350
7350
7400
7400
7450
7450
7500
7500
7550
7550
7600
7600
7650
7650
7700
7700
7750
7750
7800
7800
7850
7850
7900
7900
7950
7950
8000
8000
8050
8050
8100
8100
8150
8150
8200
8200
8250
8250
8300
8300
8350
8350
8400
8400
8450
8450
8500
8500

In [4]:
x

8546

In [5]:
df.to_csv('data_with_ids.csv')

In [6]:
df.head()

,0,1,id
0,The Waterboys,Siochain Iona (remix),
1,Karen Dalton,Little Bit Of Rain,09g4TuWLxMmrOTt1kzS47Z
2,Jimmy Fallon,Scrambled Eggs (Feat. Paul McCartney),4tjMa8XQd7CsVlCXmNSP8f
3,The New Basement Tapes,Nothing to It,0NBQB7SAdzOHmNEZSPrR8U
4,Wolf Alice,You're A Germ,7uEDFuKsEsRSbVTVwHTt78

In [7]:
df.tail()

,0,1,id
8809,Deer Tick,The Dream's In The Ditch,2A9Zm100yFB3CHQd6kFaB7
8810,Scanners,Love Is Symmetry,7iNhd7VMzCksx95F5U2fwm
8811,Grey Reverend,Nightingale,61gWdT8wUYeT7Ef3S5MMQf
8812,Drew Danburry,Jerry Spinelli and Patricia Polacco or Every M...,4kYkOVzz0bnopnpknDYah3
8813,Newton Faulkner,Where to Start,0buBIfKbc3SiOhvHF1dNQr

In [8]:
df.isna().sum()

0     0
1     0
id    0
dtype: int64